REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_DB=0
REDIS_NAMESPACE="aicrowd-snakes-api"
REDIS_AUTH_PASSWORD="YOUR-REDIS-PASSWORD"
QUEUE_KEY="Q"
RESPONSE_CHANNEL="{}::{}".format(REDIS_NAMESPACE,"RESPONSE")
GPU_MODE=True
DEBUG_MODE=False
MODEL_DIRECTORY = "new_model_v1.1"
